@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url(https://repayment-cdn.ruangguru.com/assets/d9c3362c2d/AuthBackground.f1893fc593937e1636d66ecefa067946.png);
  background-size: contain;
  @apply bg-scooter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  @apply my-2 w-full bg-crusta rounded hover:bg-orange p-2 text-white font-bold;
}

.wrapper-loading-popup {
  @apply w-full h-full absolute top-0 left-0 bg-black bg-opacity-30 flex justify-center items-center;
}

.container-loading-popup {
  @apply w-56 h-56 bg-white rounded shadow-2xl flex justify-center items-center flex-col;
}

.transition850ms {
  transition: 850ms;
}
.transition350ms {
  transition: 350ms;
}

.activity-indicator {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.activity-indicator:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: activity-indicator 1.2s linear infinite;
}

@keyframes activity-indicator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  background: #FFF;
  border-radius: 4px;
}

td, th {
  border-width: 1px 0px;
  border-style: solid;
  border-color: #ECEFF1;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

th {
  padding: 16px 20px 14px 20px;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #d7dbdd;
}

td {
  padding: 27px 20px 28px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

td a {
  @apply text-xl;
}

select {
  width: 100%;
  border-radius: 4px;
  padding: 4px 0px;
  @apply font-semibold bg-scooter text-wildSand;
}